block bottom
    .bottom
        .on
            .container
                p Liên hết và hợp tác
                <div class="owl-carousel  owl-theme" id="owl-carousel2">
                    .item
                        img(src="image/logo1.png", alt="")
                    .item
                        img(src="image/logo2.png", alt="")
                    .item
                        img(src="image/logo3.png", alt="")
                    .item
                        img(src="image/logo4.png", alt="")
                    .item
                        img(src="image/logo5.png", alt="")
                    .item(style="height:140px;    margin-top: -50px;")
                        img(src="image/logo6.png", alt="")
                </div>
        .center
            .container
                .on-center
                    .item-center
                        p Hỗ trợ
                        ul.flex
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span Trợ giúp
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span Chính sách bảo mật
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span Sơ đồ
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span Chính sách SHTT
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span NCCI
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span Thỏa thuận sử dụng
                    .item-center
                        p Sản phẩm khác
                        ul.flex
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span mobile app
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span Dịch vụ 3G
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span mobile web
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span NCT Corp
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span Smart TV
                            li
                                a(href="#")
                                    i.fa.fa-angle-right
                                    span Tuyển dụng
                    .item-center
                        p Top từ khóa
                        .links
                            a(href="#")  Lửng lơ-Masew, B Ray
                            a(href="#")  Niềm tin trong ta
                            a(href="#")  Nếu Ngày Mai Không Đến - Chillies
                            a(href="#")  Đừng Ép Tôi Uống Rượu
                            a(href="#")  Ex's Hate Me
                        p Kết nối với chúng tôi
                        .store
                            ul.flex
                                li
                                    a(href="#"): img(src="image/fb.png", alt="")
                                li
                                    a(href="#"): img(src="image/intergram.png", alt="")
                                li
                                    a(href="#"): img(src="image/googleplay.png", alt="")
                                li
                                    a(href="#"): img(src="image/appstore.png", alt="")
                .line
                .under-center.flex
                    .item-under.item-under1
                        a(href="#"): img(src="image/under_logo1.png", alt="")
                    .item-under.item-under2
                        p CÔNG TY CỔ PHẦN N C T
                        ul
                            li Chủ sở hữu website: <b> Ông Nhan Thế Luân </b>
                            li Giấy phép MXH số 499/GP-BTTTT do Bộ Thông Tin và Truyền thông cấp ngày 28/09/2015.
                            li Giấy Chứng nhận Đăng ký Kinh doanh số 0305535715 do Sở kế hoạch và Đầu tư thành phố Hồ Chí Minh cấp ngày 01/03/2008.
                    .item-under.item-under3
                        a(href="#"): img(src="image/under_logo2.png", alt="")
                    .item-under.item-under4
                        a(href="#"): img(src="image/under_logo3.png", alt="")
        .under-bottom
            .container.flex
                p
                    i.fa.fa-map-marker
                    a(href="#") Tòa nhà HAGL Safomec, 7/1 Thành Thái, P14, Q10, TP.HCM
                p
                    i.fa.fa-envelope
                    a(href="#") support@nct.vn
                p
                    i.fa.fa-phone
                    a(href="#") 0363000784
                p   
                    span © 2019 NCT Corp. All rights reserved
