block header
    header#header
        .container.flex
            .logo: a(href="#"): img(src="https://stc-id.nixcdn.com/v11/images/header_new/logo_new.png", alt="")
            .list 
                ul.flex
                    li
                        a(href="#") Bài Hát
                        .menu-hover
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                    li
                        a(href="#") Playlist
                        .menu-hover
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                    li
                        a(href="#") Tuyển Tập
                        .menu-hover
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                    li
                        a(href="#") Video
                        .menu-hover.the_video
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                    li
                        a(href="#")   BXH
                        .menu-hover.the_BXH
                            ul.menu-item
                                li: a(href="#") Việt Nam
                                li: a(href="#") Âu Mỹ
                                li: a(href="#") Hàn Quố
                    li
                        a(href="#") Chủ Đề
                        .menu-hover.the_title
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt
                            ul.menu-item
                                li
                                    a(href="#"): b VIỆT NAM
                                li: a(href="#") Nhạc Trẻ
                                li: a(href="#") Trữ Tình
                                li: a(href="#") Remix Việt
                                li: a(href="#") Rap Việt
                                li: a(href="#") Tiền Chiến
                                li: a(href="#") Nhạc Trịnh
                                li: a(href="#") Rock Việt

                    li
                        a(href="#")   Top 100
                        .menu-hover.the_BXH
                            ul.menu-item
                                li: a(href="#") Việt Nam
                                li: a(href="#") Âu Mỹ
                                li: a(href="#") Hàn Quốc
                    li: a(href="#") Nghệ sĩ
                    li
                        a(href="#")
                            span 
                            span
                            span
                        .menu-hover.the_unknow
                            ul.menu-item
                                li: a(href="#") Sự kiện
                                li: a(href="#") Tin tức âm nhạc
            .list-icon
                ul.flex
                    li
                        a(href="#"): img(src="https://stc-id.nixcdn.com/v11/images/header_new/avartar_none_login.png", alt="")
                        .menu-hover  
                            ul.menu-item
                                li: a(href="#") Đăng nhập 
                                li: a(href="#") Đăng kí          
                    li(style="padding:16px 0px")
                        a(href="#"): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_VIP_new.png", alt="")
                        .menu-hover  
                            ul.menu-item
                                li: a(href="#") Đăng nhập 
                                li: a(href="#") Đăng kí 
                                li: a(href="#") Đăng nhập 
                                li: a(href="#") Đăng kí 
                    li
                        a(href="#"): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_head_new.png", alt="")
                    li(style="width:35px")
                        a(href="#"): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_upload_new.png", alt="")
            .form
                .form-group
                    input(type="text",placeholder="Tìm bài hát, video, playlist, ca sĩ")
                    button: img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_search_new.png", alt="")
                    .menu-hover  
                        ul.menu-item
                            li: a(href="#") Đăng nhập 
                            li: a(href="#") Đăng kí 
                            li: a(href="#") Đăng nhập 
                            li: a(href="#") Đăng kí 