block main
    .main
        .container
            .ad
                img(src="image/ad.png", alt="") 
                span#hide_ad: i.fa.fa-times
            block slider  
                include ./slider.pug
            .content_main
                .left
                    //- nghe gì hôm nay
                    .list-today
                        h2.p-head
                            a(href="#")
                                span Hôm nay nghe gì
                                i.fa.fa-angle-right
                        .list
                            .item
                                .content.item1
                                    img(src="image/today1.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p tháng tư
                            .item
                                .content.item1
                                    img(src="image/today2.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p tháng tư
                            .item
                                .content.item1
                                    img(src="image/today3.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p tháng tư
                            .item
                                .content.item1
                                    img(src="image/today4.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p tháng tư
                            .item
                                .content.item1
                                    img(src="image/today5.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p tháng tư

                    //- mới phát hành
                    .list-today
                        h2.p-head
                            a(href="#")
                                span Mới phát hành
                                i.fa.fa-angle-right
                        .list
                            .item
                                .content.item1
                                    img(src="image/release1.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release2.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release3.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release4.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release5.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release6.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release7.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release8.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release9.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release10.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                    
                    //- MV HOT
                    .list-MV
                        h2.p-head
                            a(href="#")
                                span Hôm nay nghe gì
                                i.fa.fa-angle-right
                        .list
                            .item
                                .content.itemMV
                                    img(src="image/mvhot1.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV
                                            p: i.fa.fa-play-circle-o
                                    .text
                                        p: a(href="#") tháng tư
                                        span: a(href="#") Đức phúc
                            .item
                                .content.itemMV
                                    img(src="image/mvhot2.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV
                                            p: i.fa.fa-play-circle-o
                                    .text
                                        p: a(href="#") tháng tư
                                        span: a(href="#") Đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot3.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot4.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot5.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot6.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot7.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot8.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot9.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot10.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                p: a(href="#") tháng tư
                                span: a(href="#") đức phúc
                    
                    //- Bài hát
                    .list-music
                        h2.p-head
                            a(href="#")
                                span BÀI HỌC
                                i.fa.fa-angle-right
                        .list.flex
                            .item
                                .img:  img(src="image/hinh1_org.jpg", alt="")
                                .text   
                                    

                           
                .right
                    img(src="image/ad.png", alt="")
