block main
    .main
        .container
            .ad
                img(src="image/ad.png", alt="") 
                span#hide_ad: i.fa.fa-times
            block slider  
                include ./slider.pug
            .content_main
                .left
                    //- nghe gì hôm nay
                    .list-today
                        h2.p-head
                            a(href="#")
                                span Hôm nay nghe gì
                                i.fa.fa-angle-right
                        .list
                            .item
                                .content.item1
                                    img(src="image/today1.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                            .item
                                .content.item1
                                    img(src="image/today2.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                            .item
                                .content.item1
                                    img(src="image/today3.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                            .item
                                .content.item1
                                    img(src="image/today4.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                            .item
                                .content.item1
                                    img(src="image/today5.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư

                    //- mới phát hành
                    .list-today(style="margin-top:20px")
                        h2.p-head
                            a(href="#")
                                span Mới phát hành
                                i.fa.fa-angle-right
                        .list
                            .item
                                .content.item1
                                    img(src="image/release1.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release2.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release3.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release4.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release5.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release6.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release7.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release8.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release9.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.item1
                                    img(src="image/release10.jpg", alt="")
                                    span.view
                                        i.fa.fa-headphones
                                        span 151.662
                                    a(href="#")
                                        .hover-item.hover-item1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                    
                    //- MV HOT
                    .list-MV
                        h2.p-head
                            a(href="#")
                                span Hôm nay nghe gì
                                i.fa.fa-angle-right
                        .list
                            .item
                                .content.itemMV
                                    img(src="image/mvhot1.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV
                                            p: i.fa.fa-play-circle-o
                                    .text
                                        p: a(href="#") tháng tư
                                        span: a(href="#") Đức phúc
                            .item
                                .content.itemMV
                                    img(src="image/mvhot2.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV
                                            p: i.fa.fa-play-circle-o
                                    .text
                                        p: a(href="#") tháng tư
                                        span: a(href="#") Đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot3.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot4.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot5.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot6.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot7.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot8.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot9.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/mvhot10.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                    
                    //- Bài hát
                    .list-music
                        h2.p-head
                            a(href="#")
                                span BÀI HỌC
                                i.fa.fa-angle-right
                        .list-item.flex
                            .item.flex
                                .img:  img(src="image/music1.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                                    
                            .item.flex
                                .img:  img(src="image/music10.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                            .item.flex
                                .img:  img(src="image/music3.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                                    
                            .item.flex
                                .img:  img(src="image/music4.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                            .item.flex
                                .img:  img(src="image/music5.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                                    
                            .item.flex
                                .img:  img(src="image/music6.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play 
                            .item.flex
                                .img:  img(src="image/music7.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                                    
                            .item.flex
                                .img:  img(src="image/music8.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                            .item.flex
                                .img:  img(src="image/music9.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                                    
                            .item.flex
                                .img:  img(src="image/music10.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                            .item.flex
                                .img:  img(src="image/music11.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play
                                    
                            .item.flex
                                .img:  img(src="image/music12.jpg", alt="")
                                .text-title.text-right
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                .item-view
                                    i.fa.fa-headphones
                                    span 151.662
                                .heart
                                    i.fa.fa-heart-o
                                    i.fa.fa-play   

                    //-karaoke
                    .list-MV.karaoke
                        h2.p-head
                            a(href="#")
                                span Karaoke
                                i.fa.fa-angle-right
                        .list
                            .item
                                .content.itemMV1
                                    img(src="image/kara1.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/kara2.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/kara3.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/kara4.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                                                  
                    //- giải trí
                    .list-MV
                        h2.p-head
                            a(href="#")
                                span Giải trí
                                i.fa.fa-angle-right
                        .list
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri1.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri2.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri3.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri4.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri5.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri6.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri7.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri8.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri9.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri10.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri11.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc
                            .item
                                .content.itemMV1
                                    img(src="image/giaitri12.jpg", alt="")
                                    span.view
                                        i.fa.fa-eye
                                        span 151.662
                                    span.times
                                        span 03:34
                                    a(href="#")
                                        .hover-item.hover-itemMV1
                                            p: i.fa.fa-play-circle-o
                                .text-title
                                    p: a(href="#") tháng tư
                                    span: a(href="#") đức phúc

                .right
                    //-chủ đề hot
                    .list-title-hot
                        h2.p-head
                            a(href="#")
                                span Chủ đề hot
                                i.fa.fa-angle-right
                        ul
                            li
                                a(href="#"): img(src="image/title1.jpg", alt="")
                            li
                                a(href="#"): img(src="image/title2_org.jpg", alt="")
                            li
                                a(href="#"): img(src="image/title3.jpg", alt="")
                            li
                                a(href="#"): img(src="image/title4.jpg", alt="")
                            li
                                a(href="#"): img(src="image/title5.jpg", alt="")
                    //-bảng xếp hạng
                    .list-BXH
                        h2.p-head
                            a(href="#")
                                span BXH BÀI HÁT
                                i(style="color:gray;").fa.fa-play-circle-o
                        .list-tabs
                            ul
                                li
                                    a(href="#").active Việt Nam
                                li
                                    a(href="#") Âu Mỹ
                                li
                                    a(href="#") Hàn Quốc
                            .tab-content
                                .tab.vn-tab.active
                                    .big-item.item
                                        a(href="#")
                                            .img
                                                img(src="image/bxhBH1.jpg", alt="")
                                                p 1
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#1abc9c") 2
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#f39c12") 3
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 4
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 5
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 6
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 7
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                .tab.america-tab
                                    .big-item.item
                                        a(href="#")
                                            .img
                                                img(src="image/bxhBH2.jpg", alt="")
                                                p 1
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#1abc9c") 2
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#f39c12") 3
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 4
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 5
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 6
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 7
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                .tab.korea-tab
                                    .big-item.item
                                        a(href="#")
                                            .img
                                                img(src="image/bxhBH3.jpg", alt="")
                                                p 1
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#1abc9c") 2
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#f39c12") 3
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 4
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 5
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 6
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        p(style="color:#7a7a7a") 7
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                    
                    //-bảng xếp hạng MV
                    .list-BXHMV
                        h2.p-head
                            a(href="#")
                                span BXH MV
                                i(style="color:gray;").fa.fa-play-circle-o
                        .list-tabss
                            ul
                                li
                                    a(href="#").active Việt Nam
                                li
                                    a(href="#") Âu Mỹ
                                li
                                    a(href="#") Hàn Quốc
                            .tab-contents
                                .tabs.vn-tab.active
                                    .big-item
                                        .img-bxhMV
                                            img(src="image/bxhMV1.jpg", alt="")
                                            .text-bxhMV
                                                p 1
                                                .text-title
                                                    p: a(href="#") tháng tư
                                                    span: a(href="#") đức phúc
                                            .overlay-bxhMV
                                                p(style="font-size:50px"): i.fa.fa-play-circle-o
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV4.jpg", alt="")
                                            p(style="color: #1abc9c") 2
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV5.jpg", alt="")
                                            p(style="color: #f39c12") 3
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV6.jpg", alt="")
                                            p(style="color: white") 4
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/BXHmv7.jpg", alt="")
                                            p(style="color:white") 5
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                .tabs.america-tab
                                    .big-item
                                        .img-bxhMV
                                            img(src="image/bxhMV2.jpg", alt="")
                                            .text-bxhMV
                                                p 1
                                                .text-title
                                                    p: a(href="#") tháng tư
                                                    span: a(href="#") đức phúc
                                            .overlay-bxhMV
                                                p(style="font-size:50px"): i.fa.fa-play-circle-o
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV4.jpg", alt="")
                                            p(style="color: #1abc9c") 2
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV5.jpg", alt="")
                                            p(style="color: #f39c12") 3
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV6.jpg", alt="")
                                            p(style="color: white") 4
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/BXHmv7.jpg", alt="")
                                            p(style="color:white") 5
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                .tabs.korea-tab
                                    .big-item
                                        .img-bxhMV
                                            img(src="image/bxhMV3.jpg", alt="")
                                            .text-bxhMV
                                                p 1
                                                .text-title
                                                    p: a(href="#") tháng tư
                                                    span: a(href="#") đức phúc
                                            .overlay-bxhMV
                                                p(style="font-size:50px"): i.fa.fa-play-circle-o
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV4.jpg", alt="")
                                            p(style="color: #1abc9c") 2
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV5.jpg", alt="")
                                            p(style="color: #f39c12") 3
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/bxhMV6.jpg", alt="")
                                            p(style="color: white") 4
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                                    .item
                                        .img-bxhMV.item-img
                                            img(src="image/BXHmv7.jpg", alt="")
                                            p(style="color:white") 5
                                            .overlay-bxhMV
                                                p: i.fa.fa-play-circle-o
                                        .text-title
                                            p: a(href="#") tháng tư
                                            span: a(href="#") đức phúc
                           
                    //-Nghệ sĩ hot
                    .list-NS
                        h2.p-head
                            a(href="#")
                                span BXH MV
                                i.fa.fa-angle-right
                        .content.flex
                            .img1.item
                                img(src="image/bxhMV1.jpg", alt="")
                                .text-NS
                                    p(style="font-size:20px") Đức phúc
                            .img2.item
                                img(src="image/ns1.jpg", alt="")
                                .text-NS
                                    p Đức phúc
                            .img2.item
                                img(src="image/ns2.jpg", alt="")
                                .text-NS
                                    p Đức phúc
                            .img2.item
                                img(src="image/ns3.jpg", alt="")
                                .text-NS
                                    p Đức phúc
                            .img2.item
                                img(src="image/ns4.jpg", alt="")
                                .text-NS
                                    p Đức phúc
                    //-quảng cáo
        block bottom  
            include ./bottom.pug