block slider
    .slider.flex
        .sliderLeft
            .img-big
                img(src="image/hinh1_145.jpg", alt="")
            .img-small
                ul
                    li
                        img(src="image/hinh1_org.jpg", alt="")
                    li
                        img(src="image/hinh2_org.jpg", alt="")
                    li
                        img(src="image/hinh3_org.jpg", alt="")
                    li
                        img(src="image/hinh4_org.jpg", alt="")
                    li
                        img(src="image/hinh5_org.jpg", alt="")
        .sliderRight
            .owl-carousel.owl-theme#owl-carousel1
                .item
                    img(src="image/left1.jpg", alt="")
                    .text
                        a(href="#")
                            p comming soon
                            p Lorem ipsum dolor sit.
                        p: a(href="#") anino
                .item
                    img(src="image/left2.jpg", alt="")
                    .text
                        a(href="#")
                            p comming soon
                            p Lorem ipsum dolor sit.
                        p: a(href="#") anino
                .item
                    img(src="image/left3.jpg", alt="")
                    .text
                        a(href="#")
                            p comming soon
                            p Lorem ipsum dolor sit.
                        p: a(href="#") anino
                .item
                    img(src="image/left4.jpg", alt="")
                    .text
                        a(href="#")
                            p comming soon
                            p Lorem ipsum dolor sit.
                        p: a(href="#") anino
            
