.container{
    max-width: 1170px;
    margin:auto;
}
img{
    width:100%;
    height:100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-head{
    margin-bottom:20px;
   a{
    color: #2582be;
    text-transform: uppercase;
    padding: 0 20px 0 0;
    font-weight: 300 !important;
    span{
        margin-right:20px;
    }
   }
}

.text-title{
    p{
        a{
            color:black;
            font-size:17px;
        }
        &:hover{
            a{
                color:#0689ba;
            }
        }
    }
    span{
        a{
            font-size:12px;
            color:#9a9a9a;
        }
        &:hover{
            a{
                color:#0689ba;
            }
        }
        
    }
}
.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item{
        margin-bottom:20px;
        .content{
            position: relative;
            .view{
                position: absolute;
                top:0;
                right:0px;
                padding:5px 10px;
                background:url('../../image/bg_view_listen.png');
                color:white;
            }
            >a{
                .hover-item{
                display: none;
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height:97%;
                background:rgba(0,0,0,0.4);
                p{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    color:white;
                }
    
                }
            }
          
            &:hover{
                .hover-item{
                    display: block;
                }
            }
        }
        >p{
            margin-top:8px;
        }
    }
    
    
    
}


#owl-carousel1 {
    .owl-dots{
        right:0px !important;
        .owl-dot{
            &:last-child{
                margin:0;
            }
            width: 15px;
            height:15px;
            border-radius: 50%;
            border:1px solid gray;
            background: none;
            margin-right: 10px;
            position: relative;
            &.active{
                background: none !important;
                &:after{
                    background: turquoise;
                }
            }
            span{
                display:none;
            }
            &:after{
                content:'';
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width: 60%;
                height:60%;
                
                border-radius: 50%;
            }
            &:hover{
                &:after{
                    background: turquoise;
                }
            }
        }
    }
}